body{
      margin:0;
      padding:0;
      border:0;
}

@media (min-width: 600px) {

.item-1 {
	margin: 5px;
	padding: 3px 0px;
	background-color: #00ccff;
	float: left;
	display: inline-block;
	width: 9%;
	text-align: center;
	}

	h1 {
		text-align: center;
	}

	h3 {
		text-align: center;
	}
}

@media (max-width: 600px) {

.item-1 {
	margin: 5px;
	padding: 3px 0px;
	background-color: #00ccff;
	float: left;
	display: inline-block;
	width: 100%;
	text-align: center;
}

	h1 {
		text-align: center;
	}

	h3 {
		text-align: center;
	}

}

.container {
	width: 100%;
	clear: both;;
}

.footer {
	margin-top: 40px;
	widows: 100%;
	text-align: center;
	clear: both;
}


/*absolute design */

